body {
    margin: 0;
    font-family: Arial, sans_serif;
    background-color: #f4f4f4;
    
    
}

.sidenavbar {
    height: 100vh;
    width: 300px;
    background-color: #111;
    position: fixed;
    top :0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}



.menu {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.menu a {
    width: 100%;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    text-align:left;
    box-sizing:border-box
}
.menu a:hover{
    background-color: #575757;
    border-radius: 5px;
    
}